@import "tailwindcss";

html,
body {
  height: 100%;
}
@keyframes spinOrbit {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinReverse {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.animate-orbit {
  animation: spinOrbit 45s linear infinite;
}
